<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
    <title>Restaurant</title>
</head>
<body>
  <div class="container">
        <h1>Restaurants</h1>
        <h1>{{ cuisine.getType }}
        <h4><a href="/cuisines/{{ cuisine.getId}}/edit">Edit this cuisine</a></h4>

        {% if restaurants is not empty %}
            <h4>Here is a list of restaurants that serve that cuisine</h4>
            <ul>
                {% for restaurant in restaurants %}
                  <li>{{ restaurant.getName}}</li>
                  <li>{{ restaurant.getAddress}}</li>
                  <li>{{ restaurant.getPhone}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a Restaurant</h4>
            <form action="/restaurants" method="post">
              <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
              <label for="name">Restaurant Name:</label>
              <input id="name" name = "name" type="text" required><br>

              <label for="address">Restaurant Address:</label>
              <input id="address" name = "address" type="text" required><br>

              <label for="phone">Restaurant Phone:</label>
              <input id="phone" name = "phone" type="text" required><br>
              <button class="btn-success" type="submit">Add Restaurant</button>
            </form>



        <h3><a href='/'>Home</a></h3>
  </div>
</body>
</html>
